<%- include("partials/header")%>

<h1 class = "display-3 text-light text-center" style = "font-weight: 500">
	WELCOME
</h1>

<div class = "container mainCont">
	<div class = "card bg-dark text-white bannerCard">
		<img src = "https://static.nike.com/a/images/f_auto/dpr_1.0/w_912,c_limit/5f0974c1-168c-435b-992d-c49e92fbae78/nike-just-do-it.jpg" class = "card-image" height = "380rem">
		<div class = "card-img-overlay">
			<h5>New collections from Sneaker head!</h5>
			<h1 id="banner">GRAB YOUR SNEAKER</h1>
		    <a class = "btn btn-lg btn-outline-light" href = "/products">Shop Collection</a>
		</div>
	</div>
	<br>
	<a class = "btn btn-lg btn-outline-light" href = "/products/new">Add a new sneaker</a>
</div>


<%- include("partials/footer")%>